<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Purushothaman" />
    <meta
      name="description"
      content="Welcome to Noble Health Care, a leading healthcare institution dedicated to providing comprehensive medical services. Our experienced team of healthcare professionals is committed to delivering high-quality care and treatment. Explore our services, facilities, and patient resources for your health and well-being."
    />
    <title>Noble Health Care</title>
    <!-- Linking the bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Linking external CSS file -->
    <link rel="stylesheet" href="{% static 'css/edit.css' %}" />
    <!-- Linking the JS file -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- favicon for the website -->
    <link
      rel="shortcut icon"
      href="{% static 'image/logo1.png' %}"
      type="image/x-icon"
    />
    <!-- Linking the bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Linking the font awesome -->
    <script src="https://kit.fontawesome.com/7fb2d80710.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <!-- Navigation bar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img
              src="{% static 'image/logo1.png' %}"
              alt="Hospotal logo"
              width="200"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" id="navbar-nav">
              <!-- Home -->
              <li class="nav-item">
                <a class="nav-link" id="nav-item1" href="/Home/">Home</a>
              </li>
              <!--About -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="nav-item2"
                >
                  About
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/Home/overview/"
                      >Overview</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/Home/vision_mission/"
                      >Vision & Mission</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/Home/awards/"
                      >Milestones</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/Home/gallery/"
                      >Gallery</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/Home/careers/"
                      >Careers</a
                    >
                  </li>
                </ul>
              </li>
              <!--Doctors -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="nav-item3"
                >
                  Doctors
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/doctors_list/doctors/"
                      >Doctors</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/doctors_list/doctor_profile/"
                      >Doctors Profile</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/doctors_list/search_doctors/"
                      >Search Doctor</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/doctors_list/doctors_availability/"
                      >Doctors availability</a
                    >
                  </li>
                </ul>
              </li>
              <!--Appointment -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="nav-item6"
                >
                  Appointment
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/appointment/booking_form/"
                      >Booking form</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/appointment/booking_status/"
                      >Booking Status</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/appointment/edit/"
                      >Edit</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/appointment/cancel/"
                      >cancel</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/appointment/history/"
                      >History</a
                    >
                  </li>
                </ul>
              </li>
              <!--Medical services -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="nav-item7"
                >
                  Medical Services
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/medical_services/list/"
                      >List</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/medical_services/details/"
                      >Details</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/medical_services/pricing_info/"
                      >Pricing and Insurance Info</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="tblContainer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <h1 class="caption pb-4">Edit Booking Information</h1>
                <!-- database table -->
                <table>
                  <!-- table columns -->
                  <thead>
                    <tr>
                      <th>Patient Name</th>
                      <th>Contact Number</th>
                      <th>Appointment Date</th>
                      <th>Appointment Time</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if waitingAndConfirmedData %}
                      {% for data in waitingAndConfirmedData %}
                        <tr
                          class="{% if data.status == 'confirmed' %}confirmed-row{% elif data.status == 'waiting' %}waiting-row{% elif data.status == 'completed' %}completed-row{% endif %}"
                        >
                          <td>{{ data.full_name}}</td>
                          <td class="phoneNumber">{{ data.phoneNumber }}</td>
                          <td>{{ data.preferredDate }}</td>
                          <td>{{ data.preferredTime }}</td>
                          <td>
                            <a
                              href="/appointment/editUser/{{ data.id }}"
                              class="fa-regular fa-pen-to-square editIcon"
                            ></a>
                          </td>
                        </tr>
                       {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="5"> No data available</td>
                      </tr>
                    {% endif %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <!-- Footer section -->
      <div class="footer-section pt-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Hospital Logos -->
              <div class="text-center">
                <img
                  src="{% static 'image/logo1.png' %}"
                  alt="logo of the Hospital"
                  class="footer-section-logo pt-4"
                />
              </div>

              <!-- Mail id -->
              <div class="text-center mt-3">
                <a
                  href="mailto:npurush11@gmail.com"
                  class="footer-section-mail-id"
                  >npurush11@gmail.com</a
                >
              </div>

              <!-- Address -->
              <div class="text-center mt-3">
                <address class="footer-section-address">
                  No:93, Ambedkar nagar, 1<sup>st</sup> street, kolathur,
                  chennai <span class="nowrap"></span>-600099.
                </address>
              </div>
              <!-- copy rights -->
              <div class="copyRightsCont">
                <p>&copy; 2023 Noble Health Care. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>