@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap");

/* Reseting the default padding and margin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Root element for storing the variables */
:root {
  --backgroundColor: #f5f5f5;
  --headingColor: #000000;
  --textColor: #333333;
  --footerColor: #cccccc;
}

/* Overall and  general styling */
html {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundColor);
}

/* Aligning the nav links to the left hand side */
#navbar-nav {
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Styling the Nav bar items */
:is(
    #nav-item1,
    #nav-item2,
    #nav-item3,
    #nav-item4,
    #nav-item5,
    #nav-item6,
    #nav-item7
  ) {
  color: var(--textColor);
  font-family: "Roboto", sans-serif;
}
/* Styling the Nav bar items when hover over it */
:is(
    #nav-item1,
    #nav-item2,
    #nav-item3,
    #nav-item4,
    #nav-item5,
    #nav-item6,
    #nav-item7
  ):hover {
  text-decoration: underline;
  text-shadow: 3px 3px 5px gray;
}
/* Styling the dropdown box */
.dropdown-menu {
  background: linear-gradient(to bottom, #eaeaea, #ffffff);
  border: 1px solid rgb(173, 170, 170);
}
/* Styling the Drop down item */
.dropdown-item {
  font-weight: 400;
  color: var(--textColor);
}
/* Styling the Drop down item when hover */
.dropdown-item:hover {
  text-decoration: underline;
  text-shadow: 3px 3px 5px gray;
}

/* styling the doctor list section */
/* styling the doctor list container */
.doctor-list-container {
  background: linear-gradient(to bottom, #9e9d9d, #d8d5d5);
  margin-top: 130px;
}
/* styling the section heading container */
.speciality-heading-container {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* styling the section heading */
.speciality-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
/* styling the doctor card container */
.doctor-card {
  padding: 20px 5px 20px 5px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  transition: transform 0.2s ease-in-out;
}
.doctor-card:is(:hover, :focus) {
  transform: scale(1.04);
}
/* styling the profile picture container */
.profile-container {
  margin-left: 10px;
}
/* styling the profile picture */
.profile-picture {
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
}
/* styling the description */
.profile-description {
  font-size: 1rem;
  font-weight: 500;
}
/* styling the span element highlight */
.highlight {
  font-size: 1.05rem;
  font-weight: 700;
}
/* styling the footer of the card */
.footer-container {
  padding-top: 5px;
}
/* styling the timing element */
.timing {
  padding-left: 50px;
  vertical-align: center;
  font-size: 1rem;
  font-weight: 500;
}
/* styling the card button */
.card-button {
  padding: 8px;
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
/* styling the button when hover over it */
.card-button:is(:hover, :focus) {
  color: white;
  background-image: linear-gradient(#d0b200, #3b3301);
}

/* Add styling for large devices (desktops) */
@media (max-width: 425px) {
  /* styling the description */
  .profile-description {
    font-size: 0.7rem;
    font-weight: 400;
  }
  /* styling the span element highlight */
  .highlight {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .card-button {
    font-size: 0.8rem;
    padding: 4px;
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
}
@media (max-width: 560px) {
  /* styling the description */
  .profile-description {
    font-size: 0.8rem;
    font-weight: 400;
  }
  /* styling the span element highlight */
  .highlight {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
@media (max-width: 886px) {
  .doctor-card {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 886px) {
  .doctor-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px; /* Compensate for column padding */
    margin-right: 10px; /* Compensate for column padding */
  }
  .doctor-card {
    flex: 0 0 calc(50% - 30px);
    margin: 10px;
  }
}

/* Styling the Footer section */
/* Styling the footer section */
/* styling the footer section background */
.footer-section {
  background-color: var(--footerColor);
}
/* styling the footer section logo */
.footer-section-logo {
  margin-top: 20px;
  width: 250px;
  height: auto;
}
/* styling the footer section mail id */
.footer-section-mail-id {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--textColor);
  transition: transform 0.2s ease;
}
/* styling the footer section mail id */
.footer-section-mail-id:is(:hover, :focus) {
  color: rgb(8, 8, 8);
  font-weight: 600;
}
/* stylint the footer section address */
.footer-section-address {
  font-size: 1.2rem;
  color: var(--textColor);
}
/* Styling the copyright content */
.copyRightsCont {
  text-align: center;
  font-size: 1.2rem;
  color: var(--textColor);
}
.nowrap {
  white-space: nowrap;
}
