<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Purushothaman" />
    <meta
      name="description"
      content="Welcome to Noble Health Care, a leading healthcare institution dedicated to providing comprehensive medical services. Our experienced team of healthcare professionals is committed to delivering high-quality care and treatment. Explore our services, facilities, and patient resources for your health and well-being."
    />
    <title>Noble Health Care</title>
    <!-- Linking the bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Linking external CSS file -->
    <link rel="stylesheet" href="{% static 'css/pricing_info.css' %}" />
    <!-- favicon for the website -->
    <link
      rel="shortcut icon"
      href="{% static 'image/logo1.png' %}"
      type="image/x-icon"
    />
    <!-- Linking the bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    <header>
      <!-- Navigation bar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img
              src="{% static 'image/logo1.png' %}"
              alt="Hospotal logo"
              width="200"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" id="navbar-nav">
              <!-- Home -->
              <li class="nav-item">
                <a class="nav-link" id="nav-item1" href="/Home/">Home</a>
              </li>
              <!--About -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="nav-item2"
                >
                  About
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/Home/overview/"
                      >Overview</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/Home/vision_mission/"
                      >Vision & Mission</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/Home/awards/"
                      >Milestones</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/Home/gallery/"
                      >Gallery</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/Home/careers/"
                      >Careers</a
                    >
                  </li>
                </ul>
              </li>
              <!--Doctors -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="nav-item3"
                >
                  Doctors
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/doctors_list/doctors/"
                      >Doctors</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/doctors_list/doctor_profile/"
                      >Doctors Profile</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/doctors_list/search_doctors/"
                      >Search Doctor</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/doctors_list/doctors_availability/"
                      >Doctors availability</a
                    >
                  </li>
                </ul>
              </li>
              <!--Appointment -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="nav-item6"
                >
                  Appointment
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/appointment/booking_form/"
                      >Booking form</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/appointment/booking_status/"
                      >Booking Status</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a class="dropdown-item pt-0 pb-0" href="/appointment/edit/"
                      >Edit</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/appointment/cancel/"
                      >cancel</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/appointment/history/"
                      >History</a
                    >
                  </li>
                </ul>
              </li>
              <!--Medical services -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="nav-item7"
                >
                  Medical Services
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/medical_services/list/"
                      >List</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/medical_services/details/"
                      >Details</a
                    >
                  </li>
                  <hr />
                  <li>
                    <a
                      class="dropdown-item pt-0 pb-0"
                      href="/medical_services/pricing_info/"
                      >Pricing and Insurance Info</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="milestone-main-container">
        <div class="milestone-container-heading">
          <h1 class="milestone-main-heading">
            Our Pricing and Insurance Policy
          </h1>
          <!-- Transparent Pricing -->
          <div class="milestone-container d-flex justify-content-start mb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1 pt-2">
                  <i class="fa-solid fa-square-check checkbox-icon"></i>
                </div>
                <!-- milestone heading and description -->
                <div class="col-11">
                  <h1 class="milestone-heading">Transparent Pricing</h1>
                  <p class="milestone-description">
                    We believe in clarity when it comes to healthcare costs. Our
                    pricing is competitive and reflective of the expertise of
                    our medical professionals and the state-of-the-art
                    facilities we offer. You can find detailed information about
                    the cost of our services, enabling you to make informed
                    decisions about your healthcare.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Insurance Coverage -->
          <div class="milestone-container d-flex justify-content-start mb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1 pt-2">
                  <i class="fa-solid fa-square-check checkbox-icon"></i>
                </div>
                <!-- milestone heading and description -->
                <div class="col-11">
                  <h1 class="milestone-heading">Insurance Coverage</h1>
                  <p class="milestone-description">
                    We understand the importance of insurance in managing
                    healthcare expenses. We work with a wide range of insurance
                    providers to make our services accessible to as many
                    individuals as possible. Our team is here to assist you in
                    verifying your insurance coverage, processing claims, and
                    addressing any insurance-related queries you may have.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Financial Assistance -->
          <div class="milestone-container d-flex justify-content-start mb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1 pt-2">
                  <i class="fa-solid fa-square-check checkbox-icon"></i>
                </div>
                <!-- milestone heading and description -->
                <div class="col-11">
                  <h1 class="milestone-heading">Financial Assistance</h1>
                  <p class="milestone-description">
                    For those without insurance or facing financial challenges,
                    we offer flexible payment options and financial assistance
                    programs. Our goal is to ensure that everyone in our
                    community can access the care they need without undue
                    financial burden.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Billing Transparency -->
          <div class="milestone-container d-flex justify-content-start mb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1 pt-2">
                  <i class="fa-solid fa-square-check checkbox-icon"></i>
                </div>
                <!-- milestone heading and description -->
                <div class="col-11">
                  <h1 class="milestone-heading">Billing Transparency</h1>
                  <p class="milestone-description">
                    Our billing process is designed to be transparent and
                    straightforward. You will receive detailed invoices that
                    clearly outline the services provided. If you have any
                    questions about your bill, our team is available to assist
                    you and provide the necessary clarification.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Flexible Payment Options -->
          <div class="milestone-container d-flex justify-content-start mb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1 pt-2">
                  <i class="fa-solid fa-square-check checkbox-icon"></i>
                </div>
                <!-- milestone heading and description -->
                <div class="col-11">
                  <h1 class="milestone-heading">Flexible Payment Options</h1>
                  <p class="milestone-description">
                    We understand that everyone's financial situation is unique.
                    That's why we offer flexible payment plans to accommodate
                    your individual needs. Our team will work with you to find a
                    payment solution that suits your budget.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Assistance Programs -->
          <div class="milestone-container d-flex justify-content-start mb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1 pt-2">
                  <i class="fa-solid fa-square-check checkbox-icon"></i>
                </div>
                <!-- milestone heading and description -->
                <div class="col-11">
                  <h1 class="milestone-heading">Assistance Programs</h1>
                  <p class="milestone-description">
                    We are committed to supporting our community. Our financial
                    assistance programs are designed to help individuals and
                    families facing economic hardships. Please reach out to our
                    financial assistance team to discuss eligibility and the
                    application process.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Peace of Mind -->
          <div class="milestone-container d-flex justify-content-start mb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1 pt-2">
                  <i class="fa-solid fa-square-check checkbox-icon"></i>
                </div>
                <!-- milestone heading and description -->
                <div class="col-11">
                  <h1 class="milestone-heading">Peace of Mind</h1>
                  <p class="milestone-description">
                    Your health is our priority, and we want to ensure that
                    financial considerations do not hinder your access to
                    quality healthcare. By providing transparent pricing,
                    working with various insurance providers, and offering
                    financial assistance, we aim to give you peace of mind
                    during your healthcare journey.
                  </p>
                  <p class="milestone-description">
                    For any billing or insurance-related inquiries, please
                    contact our dedicated team at NHC@customercare.com.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <!-- Footer section -->
      <div class="footer-section pt-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Hospital Logos -->
              <div class="text-center">
                <img
                  src="{% static 'image/logo1.png' %}"
                  alt="logo of the Hospital"
                  class="footer-section-logo pt-4"
                />
              </div>

              <!-- Mail id -->
              <div class="text-center mt-3">
                <a
                  href="mailto:npurush11@gmail.com"
                  class="footer-section-mail-id"
                  >npurush11@gmail.com</a
                >
              </div>

              <!-- Address -->
              <div class="text-center mt-3">
                <address class="footer-section-address">
                  No:93, Ambedkar nagar, 1<sup>st</sup> street, kolathur,
                  chennai <span class="nowrap"></span>-600099.
                </address>
              </div>
              <!-- copy rights -->
              <div class="copyRightsCont">
                <p>&copy; 2023 Noble Health Care. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
