@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap");

/* Reseting the default padding and margin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Root element for storing the variables */
:root {
  --backgroundColor: #f5f5f5;
  --headingColor: #000000;
  --textColor: #333333;
  --footerColor: #cccccc;
}

/* Overall and  general styling */
html {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundColor);
}

/* Aligning the nav links to the left hand side */
#navbar-nav {
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Styling the Nav bar items */
:is(
    #nav-item1,
    #nav-item2,
    #nav-item3,
    #nav-item4,
    #nav-item5,
    #nav-item6,
    #nav-item7
  ) {
  color: var(--textColor);
  font-family: "Roboto", sans-serif;
}
/* Styling the Nav bar items when hover over it */
:is(
    #nav-item1,
    #nav-item2,
    #nav-item3,
    #nav-item4,
    #nav-item5,
    #nav-item6,
    #nav-item7
  ):hover {
  text-decoration: underline;
  text-shadow: 3px 3px 5px gray;
}
/* Styling the dropdown box */
.dropdown-menu {
  background: linear-gradient(to bottom, #eaeaea, #ffffff);
  border: 1px solid rgb(173, 170, 170);
}
/* Styling the Drop down item */
.dropdown-item {
  font-weight: 400;
  color: var(--textColor);
}
/* Styling the Drop down item when hover */
.dropdown-item:hover {
  text-decoration: underline;
  text-shadow: 3px 3px 5px gray;
}

.milestone-main-container {
  margin-top: 130px;
  background: linear-gradient(to bottom, #4b4a4a, #999999);
}
/* styling the main container */
.milestone-container-heading {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* styling the milestone heading */
.milestone-main-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: aliceblue;
  text-align: center;
  margin-bottom: 30px;
}
/* styling the milestone container */
.milestone-container {
  padding: 5px;
  border-radius: 10px;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background for better text readability */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  margin-left: 20px;
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}
/* styling the milestone container when we hover over it */
.milestone-container:is(:hover, :focus) {
  transform: scale(1.07);
}
/* styling the checkbox icon */
.checkbox-icon {
  font-size: 1.25rem;
}
/* styling the milestone heading */
.milestone-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--headingColor);
}
/* styling the milestone description */
.milestone-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--textColor);
}

/* Styling the Footer section */
/* Styling the footer section */
/* styling the footer section background */
.footer-section {
  background-color: var(--footerColor);
}
/* styling the footer section logo */
.footer-section-logo {
  margin-top: 20px;
  width: 250px;
  height: auto;
}
/* styling the footer section mail id */
.footer-section-mail-id {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--textColor);
  transition: transform 0.2s ease;
}
/* styling the footer section mail id */
.footer-section-mail-id:is(:hover, :focus) {
  color: rgb(8, 8, 8);
  font-weight: 600;
}
/* stylint the footer section address */
.footer-section-address {
  font-size: 1.2rem;
  color: var(--textColor);
}
/* Styling the copyright content */
.copyRightsCont {
  text-align: center;
  font-size: 1.2rem;
  color: var(--textColor);
}
.nowrap {
  white-space: nowrap;
}
